#root {
    padding: 15px;
    background-image: url('../public/poalim.jpeg');
    height: 100dvh;
}

.btn {
    margin: 5px;
}

.card-shadow{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.card-shadow:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.15);
}